/*
* If enable, the scrollbar will always show
html {
  overflow-y: scroll;
}
*/

.pages {
  padding-left: 0.5cm;
  padding-right: 0.5cm;
}

.pages .no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.Navbar {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}