.icon-button {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  color:rgb(44, 44, 173) !important;
}

.icon-button:hover {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  color: black !important;
}

.icon-button:active {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  color: black !important;
}

.custom-modal {
  background-color: rgb(0, 43, 54);
}


.icon {
  cursor: 'pointer';
}